@model MasjidManagement.Models.Event

@{
	ViewData["title"] = "Event";
}

<h1>Event</h1>
<hr />

<dl class="row">
	<dt class="col-sm-2">
		Event Id :
	</dt>
	<dd class="col-sm-10">
		@Model.Id
	</dd>

	<dt class="col-sm-2">
		Event Name :
	</dt>
	<dd class="col-sm-10">
		@Model.EventName
	</dd>

	<dt class="col-sm-2">
		Location :
	</dt>
	<dd class="col-sm-10">
		@Model.Location
	</dd>
</dl>


<a class="btn btn-primary" asp-action="Index">back to List</a>
<a class="btn btn-primary" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>